---
layout: default_style
permalink: /about
---

<!-- Main Container -->

<div id="drawer-right">
  <div class="cross text-right">
    <a class="toggleDrawer" href="#"><i class="fa fa-times-circle fa-2x"></i></a>
  </div>
  <h2>Navigate</h2>
  <nav>
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="/Adcs/index.html"><i class="fa fa-home"></i> Home</a>
      </li>
      <li>
        <a href="#about"><i class="fa fa-heart"></i> About us</a>
      </li>
      <li>
        <a href="/Adcs/portfolio.html"><i class="fa fa-bookmark"></i> Portfolio</a>
      </li>
      <li>
        <a href="/Adcs/services.html"><i class="fa fa-tasks"></i> Services</a>
      </li>
      <li>
        <a href="/Adcs/index.html#testimonials"><i class="fa fa-thumbs-up"></i> Testimonials</a>
      </li>
      <li>
        <a href="/Adcs/index.html#contact"><i class="fa fa-phone-square"></i> Contact</a>
      </li>
    </ul>
  </nav>
  <div class="social">
    <h2>Stay Connected!</h2>
  </div>
</div><!-- #drawer-right -->


<div id="wrapper">
  <div id="about" class="content-block about-wrapper">
    <div class="about-wrapper-inner">
      {% include header.html %}
      <section class="center">
        <div class="slogan">
          <b>What drive us?</b>
        </div>
        
        <div class="secondary-slogan">
          S<span style="color: #cf9b63;font-size: 2em;">U</span>CCESS<br> Depends on the second letter!</br>
        </div>

        <div class="tertiary-slogan">
          ~ Steve Jobs
        </div>
      </section>
      <section class="bottom">
          <a class="bounce fa fa-arrow-down fa-2x" href="#about-bg"></a>
        </a>
        </section>
    </div>
  </div>
  <div class="content-block parallax" id="about-bg">
    <div class="container">
      <header class="block-heading cleafix col-md-12">
            <h3>A great philosopher once said:</h3>
      </header>
      <section class="block-body">
        <div class="row col-md-12">
          <blockquote>यदि  आप  दृढ  संकल्प  और  पूर्णता  के  साथ  काम  करेंगे  तो  सफलता  ज़रूर  मिलेगी।  ~ धीरूभाई अंबानी</blockquote>
        </div>
      </section>

      <header class="block-heading cleafix col-md-12">
          <h3>Who Are We?</h3>
      </header>
      <section class="block-body">
      <div class="row row col-md-8">
          <p>We’re Strong <b><i>Strategists</i></b>. We’re Creative <b><i>Conceptualizer</i></b>. We’re Clever <b><i>Creators</i></b>. We’re Excellent <b><i>Executors</i></b>. We are anything and everything brands need to communicate their story to a diverse and distinguished clientele.</p>
      </div>
      </section>

      <header class="block-heading cleafix col-md-12">
        <blockquote>Go confidently in the direction of your dreams. Live the life you have imagined, -Henry David Thoreau</blockquote>
      </header>
      <section class="block-body">
        <div class="row row col-md-8">
            <p>We understand the Indian market, consumer insights, and what it takes to build long lasting relationships with Indian brands. As we constantly evolve into newer segments, in an attempt to cover the latest trends and help brands grow, we aim to be the number 1 choice for all Indian brands and grow together.
            </p>
        </div>
      </section>
      <header class="block-heading cleafix col-md-12">
        <blockquote>“नयी खोज एक लीडर और एक अनुयायी के बीच अंतर करती है.” ~ Steve jobs</blockquote>
      </header>
      <section class="block-body">
        <div class="row row col-md-8">
          <span style="color: white;font-size: 20px;">
            <p>WE BELIEVE A GREAT LEAP FORWARD CAN BE POSSIBLY MADE WITH CREATIVITIES.
              OUR INNOVATIVE SOLUTIONS CAN SURELY GIVE YOUR BUSINESS A GREAT LIFT AND
              IT IS OUR GOAL TO ENSURE THIS TARGET IS WELL HIT.</p>
          </span>
        </div>
      </section>
  

    </div>
  </div>
</div> <!-- #wrapper -->


{% include footer.html %}<!-- #footer -->

  
<script src="assets/js/jquery-2.1.3.min.js"></script>
<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.actual.min.js"></script>
<script src="assets/js/jquery.scrollTo.min.js"></script>
<script src="assets/js/script.js"></script>
  

<!--End Main Container -->