<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en-US">
<!--<![endif]-->
	{% include head.html %}
	<body>
		<div id="drawer-right">
			<div class="cross text-right">
				<a class="toggleDrawer" href="#"><i class="fa fa-times-circle fa-2x"></i></a>
			</div>
			<h2>Navigate</h2>
			<nav>
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="#wrapper"><i class="fa fa-home"></i> Home</a>
					</li>
					<li>
						<a href="#about-us"><i class="fa fa-heart"></i> About us</a>
					</li>
					<li>
						<a href="#portfolio"><i class="fa fa-bookmark"></i> Portfolio</a>
					</li>
					<li>
						<a href="#services"><i class="fa fa-tasks"></i> Services</a>
					</li>
					<li>
						<a href="#testimonials"><i class="fa fa-thumbs-up"></i> Testimonials</a>
					</li>
					<li>
						<a href="#contact"><i class="fa fa-phone-square"></i> Contact</a>
					</li>
				</ul>
			</nav>
			<div class="social">
				<h2>Stay Connected</h2>
			</div>
		</div><!-- #drawer-right -->

		<div id="wrapper">
			<div id="header" class="content-block header-wrapper">
				<div class="header-wrapper-inner">
					{% include header.html %}
					<section class="center">
						<div class="slogan">
							<b>Welcome to <br>
							Creative Idea Box </b></br>
						</div>
						<div class="secondary-slogan">
						</div>
					</section>
					<section class="bottom">
						<a class="bounce fa fa-arrow-down fa-2x" href="#events"></a>
					  </section>
				</div>
			</div>
			<div class="content-block" id="events">
				<div class="container">
					<header class="block-heading cleafix">
						<h1 >UpComing Event</h1>
						<ul>
							<li>
								<h2> <a href="https://forms.gle/gRhwUSBoPjCStZDG7" target="_blank" rel="noopener noreferrer" >Automation Gala India 2021</a></h2>
							</li>
						</ul>
					</header>
					<section class="block-body">
						<div class="row col-md-8" >
							<p>Automation Gala India is country’s leading exhibition and concert for B2B technology and IT software professionals, start-ups and members of Chartered Accountant.The program of events encompasses everything to do with telecommunications, information technology, software, and other related services.</p>
						</div>
						<div class="row col-md-4">
							<a href="https://forms.gle/gRhwUSBoPjCStZDG7" target="_blank" rel="noopener noreferrer" class="btn btn-o btn-lg btn-default pull-right">Register Here</a>
						</div>
					</section>
					
				</div>
			</div><!-- #about us -->

			<div class="content-block" id="about-us">
				<div class="container">
					<header class="block-heading cleafix">
						<a href="/Adcs/about.html" class="btn btn-o btn-lg btn-default pull-right">Explore More</a>
						<h1>About us</h1>
						<h3> <b>Who We Are?</b></h3>
					</header>
					<section class="block-body about">
						<div class="row">
							<div class="col-sm-3 about">
								<img src="assets/images/strategist.jpg">
								<h2>We’re Strong Strategists</h2>
							</div>
							<div class="col-sm-3 about">
								<img src="assets/images/conceptulizer.jpg">
								<h2>We’re Creative Conceptualisers</h2>
							</div>
							<div class="col-sm-3 about">
								<img src="assets/images/creator.jpg">
								<h2>We’re Clever Creators</h2>
							</div>
							<div class="col-sm-3 about">
								<img src="assets/images/executor.jpg">
								<h2>We’re Excellent Executors</h2>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #about us -->

			<div class="content-block" id="portfolio">
				<div class="container">
					<header class="block-heading cleafix">
						<a href="/Adcs/portfolio.html" class="btn btn-o btn-lg pull-right">Explore More</a>
						<h1>Portfolio</h1>	
						<h2>We give wings to your bussiness, you can decide where to fly!</h2>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-sm-3">
								<a href="/Adcs/portfolio.html#port-bg" class="recent-work" style="background-image:url(assets/images/ER.jpg)">
									<span class="btn btn-o-white">Explore More</span>
								</a>
							</div>
							<div class="col-sm-3">
								<a href="/Adcs/portfolio.html#port-bg" class="recent-work" style="background-image:url(assets/images/AP.jpg)">
									<span class="btn btn-o-white">Explore More</span>
								</a>
							</div>
							<div class="col-sm-3">
								<a href="/Adcs/portfolio.html#port-bg" class="recent-work" style="background-image:url(assets/images/AdFilm.jpg)">
									<span class="btn btn-o-white">Explore More</span>
								</a>
							</div>
							<div class="col-sm-3">
								<a href="/Adcs/portfolio.html#port-bg" class="recent-work" style="background-image:url(assets/images/mock_ads.jpg)">
									<span class="btn btn-o-white">Explore More</span>
								</a>
							</div>
						</div>
					</section>
				</div>	
			</div><!-- #portfolio -->

			<div class="content-block parallax" id="services">
				<div class="container text-center">
					<header class="block-heading cleafix">
						<h1>Our Services</h1>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-md-3">
								<div class="service">
									<i class="fa fa-group"></i>
									<h2>Mock Advertisement</h2>
								</div>
							</div>
							<div class="col-md-3">
								<div class="service">
									<i class="fas fa-people-arrows"></i>
									<h2>Exhibition & Concert</h2>
								</div>
							</div>
							<div class="col-md-3">
								<div class="service">
									<i class="fa fa-line-chart"></i>
									<h2>Restructure Business Plan</h2>
								</div>
							</div>
							<div class="col-md-3">
								<div class="service">
									<i class="fa fa-newspaper-o"></i>
									<h2>E-magazine Subscription</h2>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="service">
									<i class="fa fa-graduation-cap"></i>
									<h2>Knowledge Session</h2>
								</div>
							</div>
							<div class="col-md-3">
								<div class="service">
									<i class="fa fa-trophy"></i>
									<h2>Appreciation Plan</h2>
								</div>
							</div>
							<div class="col-md-3">
								<div class="service">
									<i class="fa fa-video-camera"></i>
									<h2>Ad-Film Production</h2>
								</div>
							</div>
							<div class="col-md-3">
								<div class="service">
									<br></br>
									<a href="/Adcs/services.html" class="btn btn-o btn-lg btn-default">Explore More</a>
								</div>
							</div>
						</div>
							
					</section>
				</div>
			</div><!-- #services -->

			<div class="content-block" id="testimonials">
				<div class="container">
					<header class="block-heading cleafix">
						<h1>Testimonials</h1>
						<p>Some happy customers have to say.</p>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-md-4">
								<div class="testimonial">
									<a href="http://mmindustrieschem.com/" target="_blank" rel="noopener noreferrer">
										<img src="assets/images/mm_test.jpg" >
									</a>
									<p>We evaluated numerous marketing firms and selected ADCS due to their experience in the mock advertisement and the clear understanding of our business objectives that they demonstrated during the evaluation process.</p>
									<strong>Ajit Jain</strong><br/>
									<span>CMO, MM Industries</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimonial">
									<a href="https://kunalsir.in/" target="_blank" rel="noopener noreferrer">
										<img src="assets/images/kunal_test.jpg" >
									</a>
									<p>I highly recommend ADCS for the Knowledge session that you need. ADCS has the ability to understand what you need and translate that into the media outlet that you wish to use. They are quick and more importantly they are cost effective. I look forward to using ADCS again in the near future.</p>
									<strong>Kunal Agarwal</strong><br/>
									<span>Founder, Kunalsir.in </span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimonial">
									<a>
										<img src="assets/images/cci_test_2.jpg">
									</a>
									<p>ADCS knows how to creatively reach their desired market and get results. It’s always fun working with the AD Film Production  team. As a video editor it’s great to get the infusion of new ideas and concepts that ADCS presents. Their clients get top-notch service all the way around! </p>
									<strong>Aman Mehta</strong><br/>
									<span>CEO & Founder, Catalyst Chemical India</span>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div><!-- /#testimonials -->

			<div class="content-block" id="contact">
				<div class="container text-center">
					<header class="block-heading cleafix">
						<h1>Contact Us</h1>
						<p>Feel free to drop us a line.</p>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<form class="" role="form">
									<div class="form-group">
								    	<input type="name" class="form-control form-control-white" id="subject" placeholder="Your Name" required>
								  	</div>
								    <div class="form-group">
								    	<input type="email" class="form-control form-control-white" id="exampleInputEmail2" placeholder="Enter email" required>
								    </div>
								    <div class="form-group">
								    	<textarea class="form-control form-control-white" placeholder="Write Something" required></textarea>
								    </div>
								  <input type="submit" class="btn btn-o-white" value="Say Hello">
								</form>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #contact -->

			{% include footer.html %}
			<!-- #footer -->

			

		</div><!--/#wrapper-->




		<script src="assets/js/jquery-2.1.3.min.js"></script>
		<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/jquery.actual.min.js"></script>
		<script src="assets/js/jquery.scrollTo.min.js"></script>
		<script src="assets/js/script.js"></script>

	</body>
</html>
