<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en-US">
<!--<![endif]-->
	{% include head.html %}
	<body>
		<div id="drawer-right">
			<div class="cross text-right">
				<a class="toggleDrawer" href="#"><i class="fa fa-times-circle fa-2x"></i></a>
			</div>
			<h2>Navigate</h2>
			<nav>
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="#wrapper"><i class="fa fa-home"></i> Home</a>
					</li>
					<li>
						<a href="#about-us"><i class="fa fa-wordpress"></i> About us</a>
					</li>
					<li>
						<a href="#portfolio"><i class="fa fa-bookmark"></i> Portfolio</a>
					</li>
					<li>
						<a href="#services"><i class="fa fa-tasks"></i> Services</a>
					</li>
					<li>
						<a href="#parallax"><i class="fa fa-heart"></i> Parallax</a>
					</li>
					<li>
						<a href="#testimonials"><i class="fa fa-thumbs-up"></i> Testimonials</a>
					</li>
					<li>
						<a href="#contact"><i class="fa fa-phone-square"></i> Contact</a>
					</li>
				</ul>
			</nav>
			<div class="social">
				<h2>Stay Connected</h2>
				<ul>
					<li><a href=""><i class="fa fa-facebook-square fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-twitter-square fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-tumblr-square fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-google-plus-square fa-3x"></i></a></li>
				</ul>
			</div>
		</div><!-- #drawer-right -->

		<div id="wrapper">
			<div id="header" class="content-block header-wrapper">
				<div class="header-wrapper-inner">
					{% include header.html %}
					<section class="bottom">
						<a id="scrollToContent" href="#about-us">
						  <img src="assets/images/arrow_down.png">
						</a>
					  </section>
				</div>
			</div>
			


			<div class="content-block" id="about-us">
				<div class="container">
					<header class="block-heading cleafix">
						<a href="#" class="btn btn-o btn-lg btn-default pull-right">Know More</a>
						<h1>About us</h1>
						<h1> <b>Who We Are</b></h1>
					</header>
					<section class="block-body about">
						<div class="row">
							<div class="col-sm-3 about">
								<img src="assets/images/bike_water1-1000x600.jpg">
								<a href="#"><h2>We’re Strong Strategists</h2></a>
							</div>
							<div class="col-sm-3 about">
								<img src="assets/images/mac_glasses1-1000x600.jpg">
								<a href="#"><h2>We’re Creative Conceptualisers</h2></a>
							</div>
							<div class="col-sm-3 about">
								<img src="assets/images/road-1000x600.jpg">
								<a href="#"><h2>We’re Clever Creators</h2></a>
							</div>
							<div class="col-sm-3 about">
								<img src="assets/images/blue_mac2.jpg">
								<a href="#"><h2>We’re Excellent Executors</h2></a>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #about us -->

			<div class="content-block" id="portfolio">
				<div class="container">
					<header class="block-heading cleafix">
						<a href="/Adcs/portfolio.html" class="btn btn-o btn-lg pull-right">View All</a>
						<h1>Portfolio</h1>
						<p>Take a look at some of our recent products</p>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-sm-6">
								<a href="/Adcs/portfolio.html#portfolio-adv" class="recent-work" style="background-image:url(assets/images/rain_1-320x240.jpg)">
									<span class="btn btn-o-white">find out more</span>
								</a>
							</div>
							<div class="col-sm-6">
								<a href="/Adcs/portfolio.html#portfolio-eap" class="recent-work" style="background-image:url(assets/images/min_icons_thumb1-320x240.jpg)">
									<span class="btn btn-o-white">find out more</span>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<a href="/Adcs/portfolio.html#portfolio-film" class="recent-work" style="background-image:url(assets/images/wood-320x240.jpg)">
									<span class="btn btn-o-white">find out more</span>
								</a>
							</div>
							<div class="col-sm-6">
								<a href="/Adcs/portfolio.html#portfolio-cae" class="recent-work" style="background-image:url(assets/images/six_1-320x240.jpg)">
									<span class="btn btn-o-white">find out more</span>
								</a>
							</div>
						</div>
					</section>
				</div>	
			</div><!-- #portfolio -->

			<div class="content-block parallax" id="services">
				<div class="container text-center">
					<header class="block-heading cleafix">
						<h1>Our Services</h1>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-md-3">
								<div class="service">
									<i class="fa fa-send-o"></i>
									<h2>Mock Advertisement</h2>
								</div>
							</div>
							<div class="col-md-3">
								<div class="service">
									<i class="fa fa-heart-o"></i>
									<h2>Exhibition & Concert</h2>
								</div>
							</div>
							<div class="col-md-3">
								<div class="service">
									<i class="fa fa-camera-retro"></i>
									<h2>Restructure Business Plan</h2>
								</div>
							</div>
							<div class="col-md-3">
								<div class="service">
									<i class="fa fa-camera-retro"></i>
									<h2>E-magazine Subscription</h2>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="service">
									<i class="fa fa-camera-retro"></i>
									<h2>Knowledge Session</h2>
								</div>
							</div>
							<div class="col-md-3">
								<div class="service">
									<i class="fa fa-camera-retro"></i>
									<h2>Employee Appreciation Plan</h2>
								</div>
							</div>
							<div class="col-md-3">
								<div class="service">
									<i class="fa fa-camera-retro"></i>
									<h2>Client Appreciation Plan</h2>
								</div>
							</div>
							<div class="col-md-3">
								<div class="service">
									<i class="fa fa-camera-retro"></i>
									<h2>Ad-Film Production</h2>
								</div>
							</div>
						</div>
						<div class="row">
							<a href="#" class="btn btn-o btn-lg btn-default pull-right">Explore more</a>
						</div>
							
					</section>
				</div>
			</div><!-- #services -->

			<div class="content-block" id="testimonials">
				<div class="container">
					<header class="block-heading cleafix">
						<h1>Testimonials</h1>
						<p>Some happy customers have to say.</p>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-md-4">
								<div class="testimonial">
									<img src="assets/images/testimonial_31-190x190.jpg">
									<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
									<strong>Jhon Doe</strong><br/>
									<span>Head of Ideas, Technext</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimonial">
									<img src="assets/images/testimonial_11-190x190.jpg">
									<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
									<strong>Jane Doe</strong><br/>
									<span>CEO, Apple Inc</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimonial">
									<img src="assets/images/testimonial_22-190x190.jpg">
									<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
									<strong>Albert Doe</strong><br/>
									<span>Team Lead, Design Studio</span>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div><!-- /#testimonials -->

			<div class="content-block" id="contact">
				<div class="container text-center">
					<header class="block-heading cleafix">
						<h1>Contact Us</h1>
						<p>Feel free to drop us a line.</p>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<form class="" role="form">
									<div class="form-group">
								    	<input type="email" class="form-control form-control-white" id="subject" placeholder="Your Name" required>
								  	</div>
								    <div class="form-group">
								    	<input type="email" class="form-control form-control-white" id="exampleInputEmail2" placeholder="Enter email" required>
								    </div>
								    <div class="form-group">
								    	<textarea class="form-control form-control-white" placeholder="Write Something" required></textarea>
								    </div>
								  <input type="submit" class="btn btn-o-white" value="Say Hello">
								</form>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #contact -->

			<div class="content-block" id="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-6">&copy; AD-Coustancy &amp; Solutions</div>
						<div class="col-xs-6 text-center">HandCrafted with <span style="font-size:200%;color:rgb(194, 60, 60);">&hearts;</span> by ADCS </a></div>
					</div>
				</div>
			</div><!-- #footer -->


		</div><!--/#wrapper-->




		<script src="assets/js/jquery-2.1.3.min.js"></script>
		<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/jquery.actual.min.js"></script>
		<script src="assets/js/jquery.scrollTo.min.js"></script>
		<script src="assets/js/script.js"></script>

	</body>
</html>
